html,body {
	width: 100%;
	height: 100%;
}

.wall {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,ffffff+100 */
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #e5e5e5 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #e5e5e5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #e5e5e5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	min-height: 100%;
	min-width: 100%;
	display: inline-block;
	padding: 30px 50px;
    text-align: center;
	position: relative;
}

#table {
	margin: auto;
	background-image: url('../assets/table.png');
    width: 930px;
    height: 449px;
    position: relative;
    background-size: cover;
    -webkit-filter: drop-shadow(0px 2px 4px rgba(0,0,0,1));
	top: 0;
    bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    position: absolute;
}

#table > #sleeve {
	width: 270px;
	height: 270px;
	display: inline-block;
	position: absolute;
	left: 42px;
	bottom: 22px;
	z-index: 16;
	transform: rotateZ(-31deg);
}

#sleeve > #outerSleeve {	
	height: 100%;
	width: 100%;
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;					
	box-shadow: black 0px 0px 6px 0px;
	-webkit-transition: -webkit-filter 0.3s;
}

#sleeve > #outerSleeve:hover {
	-webkit-filter: contrast(85%) brightness(130%);
	cursor: pointer;
}

#sleeve > #innerSleeve {	
	height: 98%;
	width: 98%;
	background: white;
	z-index: 0;
	position: absolute;
	left: 50%;
	top: 1%;
	box-shadow: black 0px 0px 5px 0px;		
	-webkit-transition: left 0.3s, -webkit-filter 0.3s;
}

#sleeve > #innerSleeve:hover {	
	left: 78%;
	-webkit-filter: contrast(85%) brightness(130%);
	cursor: pointer;
}

#table > #turntable {
	height: 275px;
    width: 326px;
    background-size: cover;
    background-image: url("../assets/turntable_bottom.jpg");
    position: absolute;
    right: 64px;
    top: 25px;
	box-shadow: black 0px 0px 9px 1px;
}

#table > #phone {
	height: 125px;
    width: 63px;
    background-size: cover;
    background-image: url("../assets/phone.png");
    bottom: 11px;
    right: 305px;
    position: absolute;
    transform: rotateZ(31deg);
    -webkit-transition: -webkit-filter 0.3s
}

#table > #phone:hover {
	cursor: pointer;
	-webkit-filter: brightness(125%);
}

#table > #notebook {
	height: 120px;
    width: 152px;
    background-size: cover;
    background-image: url("../assets/notebook.png");
    bottom: 28px;
    right: 37px;
    position: absolute;
    transform: rotateZ(-8deg);
	-webkit-transition: -webkit-filter 0.3s, bottom 0.3s;
}

#table > #notebook:hover {
	cursor: pointer;
	-webkit-filter: contrast(85%) brightness(130%);
	bottom: 18px;
}

#turntable #slipmat {
	width: 249px;
    height: 249px;
    left: 9px;
    top: 16px;
    position: absolute;
	background-image: url("../assets/slipmat.png")
}

#turntable:hover {
	cursor: pointer;
}

#slipmat > div {
	background-size: cover;
	margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
	-webkit-transition: -webkit-filter 0.3s;
}

#turntable:hover > #slipmat > div {
	-webkit-filter: contrast(85%) brightness(130%);
}

#slipmat > div > img {
	width: 86px;
    height: 86px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 100%;
}
#slipmat > div.single-black {
    background-image: url("../assets/vinyl_7_black.png");
    width: 171px;
    height: 171px;
}

#slipmat > div.lp-black {
	width: 100%;
	height: 100%;
	background-image: url('../assets/vinyl_12_black.png')
}

.shelf {
	margin-top: 245px;
    height: 36px;
    background-image: url('../assets/shelf_back.jpg');
	box-shadow: black 0px 6px 16px 1px;
	position: relative;
	display: inline-block;
    padding-right: 25px;
}

.shelf::after {
	width: 100%;
    height: 18px;
    bottom: 0px;
    background-image: url('../assets/shelf_front.jpg');
    content: "";
    position: absolute;
    display: block;
}

.shelf .shelfHolder {
	position: absolute;
    width: 25px;
    height: 53px;
    bottom: -10px;
    background-repeat: no-repeat;
    box-shadow: black 0px 6px 16px 1px;
}

.shelf .shelfHolder:nth-child(2) {
    left: -25px;
    background-image: url('../assets/shelf_left.jpg');
    background-position-x: right;
}

.shelf .shelfHolder:nth-child(3) {
    right: -25px;
    background-image: url('../assets/shelf_right.jpg');
}

.recordWrapper {
	white-space: nowrap;
    text-align: center;
    position: relative;
}

.recordWrapper.lp {
	bottom: 234px;
}

.recordWrapper.single {
	bottom: 122px;
}

.single > .record, .lp > .record {
	margin-left: 25px;
    background-size: cover;
    box-shadow: black 0px 10px 16px 1px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    bottom: 0px;
	-webkit-transition: bottom 0.25s;
}

.record:hover {
	bottom: 12px;
	cursor: pointer;
}

.single > .record {
	width: 144px;
	height: 144px;
}

.lp > .record {
	width: 256px;	
    height: 256px;
}

#slipmat {
	-webkit-animation: rotation 1.8s infinite linear;
}
#slipmat.single {
	-webkit-animation: rotation 1.1s infinite linear !important;
}

div#turntable::after {
    content: "";
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url("../assets/turntable_top.png");
    position: absolute;
    left: 0;
	    -webkit-filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.7));
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotateZ(0deg);}
    to   {-webkit-transform: rotateZ(359deg);}
}